body {
    background-color: black;
}

.container-custom {
    /* display: flex; */
    /* background-color: white; */
    height: 40rem;
    width: 27rem;
    margin-top: 10rem;
    margin-left: 15rem;
    /* justify-content: center; */
    /* background-color: black; */
    border-radius: 1rem;
}

.container-title {
    background: linear-gradient(to bottom right, rgb(255, 140, 40), rgb(255, 100, 0));
    /* background-color: #ff6600; */
    animation: gradient 10s ease 1;
    height: 43%;
    width: 100%;
    padding: 1% 6%;
    border-radius: 1rem 1rem 0rem 0rem;
    color: white;
}

.circular-button {
    padding: 5%;
    background-color: rgb(255, 102, 0);
    color: white;
    border: 1px solid rgb(255, 102, 0);
    z-index: 2;

    /* box-shadow: -2px -2px 8px 2px rgba(47, 45, 43, 0.164); */
}

.circular-button:hover {

    /* background-color: rgb(255, 102, 0); */
    /* color: white; */
    /* z-index: 2; */
    border: 1px solid rgb(255, 102, 0);
    box-shadow: -2px -2px 8px 2px rgba(47, 45, 43, 0.164);


}

.custom_shrink {}

.custom_shrink:active {
    transform: scale(0.7);
}

.layered {
    transform: translate(0, 10%);
    height: 23rem;
    width: 100%;
    padding: 0%;
    border-radius: 2%;
}

@keyframes gradient {
    0% {
        background-color: linear-gradient(to bottom right, white);
        ;
    }

    25% {
        background-color: linear-gradient(to bottom right, rgb(255, 206, 169), rgb(255, 193, 153));
        ;
    }

    50% {
        background-color: linear-gradient(to bottom right, rgb(255, 183, 126), rgb(255, 162, 102));
        ;
    }

    75% {
        background-color: linear-gradient(to bottom right, rgb(255, 163, 83), rgb(255, 131, 51));
        ;
    }


    100% {
        background-color: linear-gradient(to bottom right, rgb(255, 140, 40), rgb(255, 102, 0));
    }
}